<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container" *ngIf="isEditing">
  <div class="main-body">
    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <form name="form" (ngSubmit)="f.form.valid && onConfirm()" #f="ngForm" novalidate>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">New Price</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="number" class="form-control" name="price" aria-label="Default" [(ngModel)]="form.price" #price="ngModel"
                       placeholder="99.99" required />
                <div *ngIf="f.submitted && price.invalid">
                  <div class="text-danger" *ngIf="price.errors.required">Price is required</div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <button class="btn btn-info">Confirm</button>
                <a class="btn btn-link" (click)="onCancel()">Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-uppercase mb-0">List of Dental Services</h5>
        </div>
        <div class="table-responsive">
          <table class="table no-wrap user-table mb-0">
            <thead>
            <tr>
              <th *ngIf="isAdmin" scope="col" class="border-0 text-uppercase font-medium pl-4">Id</th>
              <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
              <th scope="col" class="border-0 text-uppercase font-medium">Price</th>
              <th *ngIf="isAdmin" scope="col" class="border-0 text-uppercase font-medium">Status</th>
              <th *ngIf="isAdmin" scope="col" class="border-0 text-uppercase font-medium">Manage</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let service of dentalServices">
              <td *ngIf="isAdmin" class="pl-4">{{service.serviceId}}</td>
              <td>
                <h5 class="font-medium mb-0">{{service.description}}</h5>
              </td>
              <td>
                <span class="text-muted">{{service.price}}</span><br>
              </td>
              <td *ngIf="isAdmin">
                <span class="text-muted"> {{service.status}} </span>
              </td>
              <td *ngIf="isAdmin">
                <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2" title="Edit" (click)="getOne(service.serviceId)"><i class="fa fa-edit"></i> </button>
                <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2" id="button-trash" title="Delete" (click)="disableDentalService(service.serviceId)"><i class="fa fa-trash"></i> </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
